<html>
  <head>
    <title>Politeness</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="http://f.cl.ly/items/3Z282N1s1m0b3k2Y1S3p/spin.js"></script>
    <script src="http://f.cl.ly/items/042a1F3f1S113L0H1X2O/ladda.js"></script>

    <style>
      .white-bg { background: #ffffff !important; }
      .label { padding: 5px !important;}
      #not-request { margin-top: 7px; margin-bottom: 7px; }
      #reclassification-box { display: inline; float: right; padding: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 0px;}
      #model-result-box { display: inline; float: left; }
      .clear {width: 100%; clear: both; height: 0px; line-height:0px;}
      /*#reclassification-span { padding: 6px !important; }*/
      .label-grey { background-color: #EEEEEE; color: #7B7B7B; }
      .btn-mini { padding: 2px 6px; font-size: 11px; line-height: 13px; }
    </style>

  </head>
  <body>
    


    <div class="container">
      <br />
      <div class="row">
        <h1>Would you mind checking out <br /> this politeness model we built?</h1>
        <h4>Our model automatically measures the politeness of requests. <br />
          Try it below, and read more about our work <a href="http://www.mpi-sws.org/~cristian/Politeness.html">here</a>.</h4>

        {% if off_mpi_flag %}
        <h4>
        <big><span class="label label-warning">This is a debugging site. Please visit <a href="http://politeness.mpi-sws.org">politeness.mpi-sws.org</a></span></big>     
        </h4>  
        {% endif %}

        <br />
      </div>

      <div class="row">
        <div class="jumbotron">
              <form class="form-horizontal" id="inputform" role="form" action="/score-politeness" method="post">
                <div class="form-group">
                  <label for="textinput">Enter your request here</label>
                    <textarea class="form-control" id="textinput" name="text" rows="5" placeholder="Enter a request..."></textarea>
                </div>

              <div class="form-group">
                <a href="#" id="form-submit" class="btn btn-primary ladda-button" data-style="zoom-out" data-size="l"><span class="ladda-label">Score for Politeness</span></a>  
              </div>
              </form>


              <div id="result-box" class="row">
                <div class="well well-kg white-bg">
                    <p id="scored-txt"></p>
                    <br />
                    <div id="model-result-box">
                      <big><span id="label" class="label text-capitalize">polite</span></big> &nbsp;
                      <big><span id="confidence" class="label label-info">Confidence: 0</span></big>
                      <br />
                      <smaller><span id="not-request" class="label label-grey">
                        This utterance has lots of uses; it is not necessarily meant as a request. The algorithm's results might be unreliable as a result.
                        <!--It looks like this may not be a request. The algorithm's results may be inaccurate.--></span></smaller>
                      <br />


                      <span id="reclassification-ack" class="label label-grey">
                        Thank you for helping improve our model
                      </span>


                        <span>
                          <!--Is the model wrong? Help us improve! Is this utterance actually ...-->
                        Politeness is a subtle and subjective phenomenon.  Help improve the model.  Do you think this utterance is:
                        </span> &nbsp;
                            <button type="button" id="reclass-opt1" name="label" value="neutral" class="btn btn-mini reclass-btn text-capitalize">Neutral</button>
                            <button type="button" id="reclass-opt2" name="label" value="polite" class="btn btn-mini btn-success reclass-btn text-capitalize">Polite</button>
                            <button type="button" id="reclass-opt3" name="label" value="impolite" class="btn btn-mini btn-warning reclass-btn text-capitalize">Impolite</button>
                      </span>

                    </div>
                  <div class="clear"></div>
                </div>
              </div>

        </div>
      </div>

    <div class="row">
      <h3>Sample Requests</h3>
    </div>

    <div class="row">
      <div class="well well-kg">
          <p>Thank you for the response. Would you be willing to add a few more details to explain further?</p>
          <div>
            <span class="label label-success text-capitalize"><big>polite</big></span> &nbsp;
            <span class="label label-info"><big>Algorithm's Confidence: 97&#37;</big></span>
          </div>
      </div>
    </div>   
    <div class="row">
      <div class="well well-kg">
          <p>That's the only answer you have? seriously? can't you do better?</p>
          <div>
            <span class="label label-danger text-capitalize"><big>impolite</big></span> &nbsp;
            <span class="label label-info"><big>Algorithm's Confidence: 79&#37;</big></span>
          </div>
      </div>   
    </div>   
    <div class="row">
      <div class="well well-kg">
          <p>How many times do i have to revert you before you stop? do you want to get blocked?</p>
          <div>
            <span class="label label-danger text-capitalize"><big>impolite</big></span> &nbsp;
            <span class="label label-info"><big>Algorithm's Confidence: 72&#37;</big></span>
          </div>
      </div>    
    </div>   
    <div class="row">
      <div class="well well-kg">
          <p>Splendid work so far! do you have a copy of that reference or should I just use the library's?</p>
          <div>
            <big><span class="label label-success text-capitalize">polite</span></big> &nbsp;
            <span class="label label-info"><big>Algorithm's Confidence: 73&#37;</big></span>
          </div>
      </div>
    </div>   



      <p class="text-right"><small>
        Cristian Danescu-Niculescu-Mizil &nbsp; &bull; &nbsp; 
        Moritz Sudhof &nbsp; &bull; &nbsp;
        Dan Jurafsky &nbsp; &bull; &nbsp;
        Jure Leskovec &nbsp; &bull; &nbsp;
        Christopher Potts</small> &nbsp;
      </p>

  </div>

  <script>

    $(document).ready(function() {

      function submit_reclassification(e) {
        e.preventDefault();
        var label = this.value;
        var text = $("#scored-txt").html();
        $.ajax({
          type: "POST",
          url: "/submit-reclassification",
          data: {'label': label, 'text': text},
          success: function(data) {

            $("#reclassification-span").fadeOut()
            $("#reclassification-ack").fadeIn()

          }});
        }


      $(".reclass-btn").click(submit_reclassification);
      $("#result-box").hide();


      $("#form-submit").click(function(e) {
        e.preventDefault();
        var l = Ladda.create(this);
        l.start();
        var form_data = $("#inputform").serialize();
        $.ajax({
          type: "POST",
          url: "/score-politeness",
          data: form_data,
          success: function(data) {
            // hide stuff we may have shown and vice versa
            $("#not-request").hide();
            $("#reclassification-ack").hide();
            $("#reclassification-span").show();

            var labelclass = "label-success";
            if (data.label == "neutral") {
              labelclass = "label-warning";
            } else if (data.label == "impolite") {
              labelclass = "label-danger";
            }
            $("#label").removeClass("label-success label-warning label-danger").addClass(labelclass);
            $("#label").html(data.label);
            if (data.label == "neutral") {
              $("#confidence").html("");
            } else {
              $("#confidence").html("Algorithm's Confidence: ".concat(data.confidence));
            }
            $("#scored-txt").html(data.text);

            $("#result-box").slideDown();

            if (!data.isrequest) {
              $("#not-request").slideDown();
            }

            // allow reclassification
            var opt1 = "polite";
            var opt2 = "neutral";
            var opt2 = "impolite";
            var class1 = "btn-success";
            var class2 = "btn-warning";
            var class3 = "btn-danger";
//            if (data.label == "polite") {
//              opt1 = "neutral";
//              opt2 = "impolite";
//              class1 = "btn-warning";
//              class2 = "btn-danger";
//            } else if (data.label == "neutral") {
//              opt2 = "impolite";
//              class2 = "btn-danger";
//            }

            $("#reclass-opt1").html(opt1);
            $("#reclass-opt1").attr("value", opt1);
            $("#reclass-opt1").removeClass("btn-warning btn-danger btn-success").addClass(class1);

            $("#reclass-opt2").html(opt2);
            $("#reclass-opt2").attr("value", opt2);
            $("#reclass-opt2").removeClass("btn-warning btn-danger btn-success").addClass(class2);

//added to allow users to agree with our label
            $("#reclass-opt3").html(opt3);
            $("#reclass-opt3").attr("value", opt3);
            $("#reclass-opt3").removeClass("btn-warning btn-danger btn-success").addClass(class3);

          }
        }).always(function() { l.stop(); });
      });
    });

  </script>

  </body>
</html>


  